@import url(./fonts.css);

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel {
  display: flex;
}

.carousel img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent; /* 화살표 배경을 투명하게 설정합니다 */
  cursor: pointer;
  z-index: 1;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 2px;
  background-color: white; /* 화살표 색상을 하얀색으로 설정합니다 */
  transform: translateY(-50%);
}

.arrow.left::before {
  transform: rotate(-215deg) translate(-50%, -50%); /* 왼쪽 화살표의 회전 및 위치 조정 */
}

.arrow.left::after {
  transform: rotate(-135deg) translate(-50%, -50%); /* 왼쪽 화살표의 회전 및 위치 조정 */
}

.arrow.right::before {
  transform: rotate(45deg) translate(-50%, -50%); /* 오른쪽 화살표의 회전 및 위치 조정 */
}

.arrow.right::after {
  transform: rotate(-45deg) translate(-50%, -50%); /* 오른쪽 화살표의 회전 및 위치 조정 */
}




