@import url(./fonts.css);


body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 24px; /* 전체 폰트 크기 설정 */
}

h1 {
  margin-bottom: 30px;
  font-size: 48px; /* h1 제목의 크기 설정 */
}

#timer-display {
  font-size: 72px; /* 타이머 디스플레이의 크기 설정 */
  margin-bottom: 40px;
}

#timer-display span {
  padding: 20px; /* 타이머 디스플레이 숫자의 패딩 설정 */
  background-color: #f1f1f1;
  border-radius: 10px;
}

.input-container {
  margin-bottom: 40px;
}

.input-container input {
  margin-right: 20px;
  padding: 10px;
  width: 70px; /* 입력 필드의 너비 설정 */
  text-align: center;
  font-size: 24px; /* 입력 필드의 폰트 크기 설정 */
}

.button-container {
  margin-bottom: 40px;
}

.button-container button {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 200px; /* 버튼의 너비 설정 */
  height: 60px; /* 버튼의 높이 설정 */
  box-sizing: border-box; /* 크기 계산 방식 설정 */
}

.button-container button:hover {
  background-color: #45a049;
}

.button-container button:active {
  background-color: #3e8e41;
}
